<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Pet</title>
  </head>
  <body>
    
    <form action="/pets" method="post">
      <h2>Create a new pet</h2>
      <label for="name">Choose a name:</label>
      <input id="name" name="name" type="text">

      <button type="submit">Create my pet!</button>
    </form>

  </body>
</html>
